<div class="custom-form-body">
    <form id="custom-checkout-form" class="form" data-bind="attr: {'data-hasrequired': $t('* Required Fields')}, event: {change: onFormChange()}">
        <fieldset class="fieldset">
            <!-- ko foreach: getRegion('custom-checkout-form-fields') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
            <button style="margin-top: 10px; margin-bottom: 20px;" type="button" title="Add Serial Numbers" class="add action" id="custom-checkout-form-add-btn" data-bind="click: insertNewSerial">
                <span>Add a serial number</span>
            </button>
        </fieldset>
    </form>
</div>
